<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
          xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>bookappointment</display-name>
  <servlet>
    <servlet-name>springapp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:env/dev/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <!--<multipart-config>
      <location>F:/java/upload/bookappointment</location>
      文件的最大大小，单位为字节。默认没有限制
      <max-file-size>5242880</max-file-size>
      <max-request-size>10485760</max-request-size>
      文件大小阈值，当大于这个阈值时将写入到磁盘，否则在内存中。默认值为0
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>-->
  </servlet>
  
  <servlet-mapping>
    <servlet-name>springapp</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf8</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
