<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cw.bookappointment.dao.IBookDao">

<resultMap type="book" id="bookMap">
	<id property="bookId" column="bookId"/>
	<result property="name" column="name"/> 
	<result property="introduction" column="introduction"/>
	<result property="number" column="number"/>
	<result property="version" column="version"/>
</resultMap>

<sql id="tableName">
	book
</sql>

<sql id="field">
	bookId,name,introduction,number,version
</sql>

<sql id="searchCondition">
	<if test="bookId != null">
	 and bookId = #{bookId}
	</if>
	<if test="name != null and name !=''">
	and name like  "%"#{name}"%"
	</if>
	<if test="name != null and name !=''">
		or introduction like  "%"#{name}"%"
	</if>
</sql>

<insert id="save" parameterType="book" useGeneratedKeys="true" keyProperty="bookId">
	insert into <include refid="tableName"/> (name,introduction,number) values (#{name},#{introduction},#{number})
</insert>
<delete id="delete" parameterType="int">
	delete from <include refid="tableName"/> where bookId = #{bookId}
</delete>

	<update id="decreaseNumberByVersion" parameterType="book">
		update <include refid="tableName"/>
		set number = number -1,
		version = version + 1
		where bookId = #{bookId}
		and version = #{version}
	</update>

<update id="update" parameterType="book">
	update <include refid="tableName"/> 
	<trim prefix="set" suffixOverrides=",">
		<if test="name !=null and name !=''">
			name=#{name},
		</if>
		<if test="introduction !=null and introduction !='' ">
			introduction=#{introduction},
		</if>
		<if test="number !=null">
			number = #{number}
		</if>
	</trim>
		where bookId = #{bookId}
</update>

<select id="count" parameterType="book" resultType="int">
	select count(*) from <include refid="tableName"/> where 1=1 <include refid="searchCondition"/> 	
</select>
<select id="get" parameterType="int" resultMap="bookMap">
	select <include refid="field"/> from <include refid="tableName"/> where bookId = #{bookId}
</select>
<select id="list" parameterType="book" resultMap="bookMap">
	select <include refid="field"/> from <include refid="tableName"/> where 1=1 <include refid="searchCondition"/>
</select>
<select id="listByPage" parameterType="pageModel" resultMap="bookMap">
	select <include refid="field"/> from <include refid="tableName"/> order by bookId
	limit #{offset},#{pageCount}
</select>
	
	<select id="getbyIdList" parameterType="List" resultMap="bookMap">
		select <include refid="field"/> from <include refid="tableName"/>
		where bookId in
		<foreach collection="ids" item="bookId" open="(" close=")" separator=",">
			#{bookId}
		</foreach>
	</select>
</mapper>