<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cw.bookappointment.dao.IStudentInfoDao">
    <resultMap id="studentInfoMap" type="studentInfo">
        <result property="studentInfoId" column="studentInfoId"/>
        <result property="studentNum" column="studentNum"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="clazz" column="class"/>
        <result property="major" column="major"/>
        <result property="admissionDate" column="admissionDate"/>
    </resultMap>

    <sql id="tableName">
        studentInfo
    </sql>

    <sql id="field">
        studentInfoId,studentNum,sex,age,class,major,admissionDate
    </sql>

    <insert id="save" parameterType="studentInfo" useGeneratedKeys="true" keyProperty="studentInfoId">
        insert into <include refid="tableName"/> (studentNum,sex,age,class,major,admissionDate)
        values
        (#{studentNum},#{sex},#{age},#{clazz},#{major},#{admissionDate})
    </insert>

    <select id="get" parameterType="int" resultMap="studentInfoMap">
        select <include refid="field"/> from  <include refid="tableName"/> where
        studentInfoId = #{studentInfoId}
    </select>

    <select id="getByStudentNum" parameterType="String" resultMap="studentInfoMap">
        select <include refid="field"/> from  <include refid="tableName"/> where
        studentNum = #{studentNum}
    </select>

    <update id="update" parameterType="studentInfo">
        update <include refid="tableName"/>
        <trim prefix="set" suffixOverrides=",">
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="clazz != null and clazz !=''">
                clazz = #{clazz},
            </if>
            <if test="major !=null and major !=''">
                major = #{major},
            </if>
            <if test="admissionDate !=null and admissionDate !=''">
                admissionDate = #{admissionDate},
            </if>
        </trim>
        where  studentNum = #{studentNum}
    </update>

</mapper>